# Xcode
.DS_Store
build/
DerivedData/

# User-specific Xcode files
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcdebugger/

# Swift Package Manager
.build/
Package.resolved

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs
*.log
